@layer utilities {
	.shape-square {
		float: left;
		width: calc(400px - 3em);
		height: calc(400px - 7em);
		shape-outside: inset(0);
		background: transparent;
	}
}

.playfair-display-regular {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

* {
	box-sizing: border-box;
	font-family: "roboto-regular";
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.header-background {
	background-image: url("./headerBackground.svg");
	background-size: cover;
}

.developer-photo-one {
	background-image: url("./developerPhotoOne.png");
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}

.projects {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	grid-auto-rows: 400px;
}

.project {
	display: flex;
	flex-direction: column;
	font-family: "playfair-display-regular";

	> div:first-child {
		flex: 5;
		color: white;
		font-size: 2.6em;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.2em;
		text-align: center;
	}

	> div:nth-child(2) {
		flex: 4;
		background-color: white;
	}

	&:first-of-type {
		background-color: #9e1c1c;
	}

	&:nth-of-type(2) {
		background-color: #7c75ca;
	}

	&:nth-of-type(3) {
		background-color: #5e8f4d;
	}
	&:nth-of-type(4) {
		background-color: #c363b4;
	}
	&:nth-of-type(5) {
		background-color: #d88f39;
	}
	&:nth-of-type(6) {
		background-color: #4692d9;
	}
}

.developer-photo-two {
	background-image: url("./developerPhotoTwo.png");
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}
