@layer utilities {
	.shape-square {
		float: left;
		width: calc(400px - 3em);
		height: calc(400px - 7em);
		shape-outside: inset(0);
		background: transparent;
	}
}

* {
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.header-background {
	background-image: url("./headerBackground.svg");
	background-size: cover;
}

.developer-photo-one {
	background-image: url("./developerPhotoOne.png");
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}
