* {
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.header-background {
	background-image: url("./headerBackground.svg");
	background-size: cover;
	border: 2px solid red;
}

.developer-photo-one {
	background-image: url("./developerPhotoOne.png");
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	position: relative;
	border: 2px solid black;
}
